// Custom styles.

.header {
  opacity: 0.8;
}

.sidebar-inner {
  position: absolute;
}

.content-wrap {
  opacity: 0.8;
}

body {
  background-size:cover;
  background-image:url(/images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
}
